.app {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background:rgba(250, 124, 96, 0.654);
  max-width: 1200px;
  background-image: url("./images/background_main.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  min-width: fit-content;
  min-height: fit-content;
}

.game {
  padding-bottom: 60px;
  margin: auto;
  width: 420px;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
}

.background {
  display: flex;
  height: 750px;
  width: 900px;
  margin: auto;
  background-image: url("./images/blueprint.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.game img {
  width: 70px;
  height: 70px;
}

.scoreboard {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px;
  margin-right: 50px;
  background-image: url("./images/score.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  font-size: 3em;
  text-shadow: -3px 0 rgb(169, 2, 253), 0 1px black, 1px 0 black, 0 -1px black;
}

.timer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px;
  margin-right: 50px;
  background-image: url("./images/timer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  font-size: 3em;
  text-shadow: -3px 0 rgb(60, 60, 60), 0 1px black, 1px 0 black, 0 -1px black;
}

.gameover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 800px;
  background-image: url("./images/gameover.png");
  background-position: center;
  background-repeat: no-repeat;
}

.gameover-score {
  margin-top: 360px;
  display: flex;
  color: white;
  font-size: 6em;
  text-shadow: -3px 0 rgb(60, 60, 60), 0 1px black, 1px 0 black, 0 -1px black;
}